{% extends 'base.html' %}

{% block content %}

    <div class="row row-col-1 row-col-md-3 g-4 w-100">
        <div class="col-md-12">
            <div class="p-3 border bg-body shadow rounded">
                {% if todayMenus %}
                <div class="row text-center">
                    <div class="col">{{ todayMenus.user }}님의 오늘의 메뉴 ({{ todayMenus.date }})</div>
                </div>
                <hr/>
                <div class="row font-weight-light text-center">
                    <div class="col">{{ todayMenus.menu1|default_if_none:"-" }}</div>
                    <div class="col">{{ todayMenus.menu2|default_if_none:"-" }}</div>
                    <div class="col">{{ todayMenus.menu3|default_if_none:"-" }}</div>
                </div>
                {% else %}
                <div class="row text-center">
                    <div class="col">{{ user }} 대원님, 오늘은 아침이 없으심다!</div>
                </div>
                <hr/>
                <div class="row font-weight-light text-center">
                    <div class="col">결식</div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            {% if todoFirst %}
            <a href="{% url 'meal:order_update' todoFirst %}" class="text-decoration-none text-reset">
                <div class="p-3 bg-body shadow rounded">주문 요청하기
                    <span class="badge rounded-pill bg-info float-end">{{ todoNum }}</span>
                </div>
            </a>
            {% else %}
                <div class="p-3 bg-secondary shadow rounded">주문이 완료되었습니다</div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <a href="{% url 'meal:order_list' %}" class="text-decoration-none text-reset">
                <div class="p-3 bg-body shadow rounded">주문 확인하기</div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'meal:favorites_new' %}" class="text-decoration-none text-reset">
                <div class="p-3 bg-body shadow rounded">즐겨찾기 추가</div>
            </a>
        </div>

        {% if request.user.is_staff %}
        <div class="col-md-6">
            <div class="p-3 border bg-body shadow rounded">
                <form class="d-flex" action="{% url 'meal:create' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="date" value="2021-06-07" name="startDate"> 
                    <button class="btn btn-outline-dark btn-sm w-50" type="submit">요청 생성</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-body shadow rounded">
                <form class="d-flex" action="{% url 'meal:export' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="date" value="2021-06-07" name="startDate"> 
                    <button class="btn btn-outline-dark btn-sm w-50" type="submit">주문서 생성</button>
                </form>
            </div>
        </div>
        {% endif %}

{% endblock %}