{% extends 'meal/base.html' %}

{% block content %}

    <form method="post" class="row row-col-1 g-4 w-100">{% csrf_token %}
        
        <div class="col-md-12">
            <div class="p-3 border bg-body shadow rounded">
                <div class="row">
                    <div class="col">{{ order.date }}</div>
                </div>
                <hr/>
                <div class="row font-weight-light text-center g-4">

                    {% for field in form %}
                        <div class="col-md-4">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}

                </div>
                <hr/>
                <div class="row">
                    <div class="text-end">주문금액 : <span id='total_price'>0</span></div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="p-3 bg-body shadow rounded form-floating">
                <div class="form-floating">
                    <select id="favorites-select" onchange="calculateTotalPrice(setMenusAsFavorites(this.value))" class="form-select">
                        <option selected disabled hidden>등록해둔 메뉴 중 골라봐요</option>
                        {% for favorites in favoritesList %}
                            <option>{{ favorites }}</option>
                        {% endfor %}
                    </select>
                    <label for="favorites-select">즐겨찾기 </label>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 d-grid">
            <button type="submit" class="btn btn-light btn-lg">등록하기</button>
        </div>

    </form>

{% endblock %}